.container {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  img {
    margin: 1px;
  }
}
