.sidebar {
  width: 100%;
  margin-top: 1em;
  nav {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    button {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
    }
    img {
      transform: scale(1.5);
      margin: 1em;
    }
  }
}
