.container {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  dl {
    width: 80%;

    dt {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
dt:hover {
  color: rgb(8, 8, 218);
  img {
    filter: invert(34%) sepia(83%) saturate(743%) hue-rotate(198deg)
      brightness(92%) contrast(95%);
    /* Adjust the filter values to match your desired hover color */
  }
}
.top_text {
  font-size: 20px;
}
.bottom_text {
  font-size: 40px;
}
.line {
  border-left: 4px solid #ffffff;
  padding-left: 1.5em;
}
.active {
  color: rgb(83, 83, 252);
  img {
    filter: invert(34%) sepia(83%) saturate(743%) hue-rotate(198deg)
      brightness(92%) contrast(95%);
    /* Adjust the filter values to match your desired hover color */
  }
}
